auth_enabled: false

server:
  http_listen_port: {{ loki_http_port }}
  grpc_listen_port: {{ loki_grcp_port }}

ingester:
  lifecycler:
    address: localhost
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
    final_sleep: 0s
  chunk_idle_period: 5m
  chunk_retain_period: 30s
  max_transfer_retries: 0

schema_config:
  configs:
    - from: 2023-10-13
      store: boltdb
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb:
    directory: {{ loki_data_dir }}/index

  filesystem:
    directory: {{ loki_data_dir }}/chunks