{{ ansible_managed | comment(decoration='# ') }}
[Unit]
Description=Promtail log shipping agent
Documentation=https://grafana.com/docs/loki/latest/clients/promtail/
After=network-online.target
Wants=network-online.target

[Service]
User={{ promtail_user }}
Group={{ promtail_group }}
Type=simple
ExecStart={{ promtail_installation }}/{{ promtail_binary_name }} -config.file={{ promtail_config_path }}/{{ promtail_config_name }}
Restart=always
RestartSec=5

# Hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths={{ promtail_positions_file | dirname }}

[Install]
WantedBy=multi-user.target
